div#preloaded-images {
    position: absolute;
    overflow: hidden;
    left: -9999px;
    top: -9999px;
    height: 1px;
    width: 1px;
}

body {
    font: 14px / 1.231 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    margin: 1em auto;
    padding: 0 1em;
    max-width: 850px;
    min-width: 850px;
    background-color: #92be23;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Myriad Pro', Verdana, Arial, Helvetica, sans-serif;
    margin: 1em 0 0 0;
}

.tweet_list li a {
    color: #333333;
}

.tweet, .query {
    font-size: 90%;
    color: #5B8300;
}

#news-feed
{
	margin-left:5px;
	list-style-image: url("../imgs/wormpoint.png");
}

/* style news feed items */
.parss-title {
	font-weight: bold;

	margin-bottom:5px;
	margin-top:30px;
}

.parss-date {
	color: #4d7804;
	font-size:15px;
	margin-bottom:5px;
}

.parss-title, .parss-date, .parss-description {
	display: block;
	clear: both;
}


.parss-image {
	display: none;
}

a {
    color: #4d7804;
	text-decoration: none;
}

a:VISITED {
    color: #4d7804;
}

a:HOVER {
    color: white;
}

.lightPanel {
	
	
    background: #eaeaea;
    background: -moz-linear-gradient(45deg,  #eaeaea 0%, #b7b7b7 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#eaeaea), color-stop(100%,#b7b7b7));
	background: -webkit-linear-gradient(45deg,  #eaeaea 0%,#b7b7b7 100%);
	background: -o-linear-gradient(45deg,  #eaeaea 0%,#b7b7b7 100%);
	background: -ms-linear-gradient(45deg,  #eaeaea 0%,#b7b7b7 100%);
	background: linear-gradient(45deg,  #eaeaea 0%,#b7b7b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#b7b7b7',GradientType=1 );

}

#logo {
	position:absolute;
	left:0px;
	top:0px;
	margin-left:3px;
	margin-right:15px;
	padding-bottom:10px;
	height: 100px;
	width: 98px;
	background: url("../imgs/OpenWormLogo.png") no-repeat;
	vertical-align: bottom;
	cursor:pointer;
}

.contributeSubPanel {
	margin-left:20px;
	width:550px;
	float:left;
}

.worm {
	margin:0 auto;
	height: 154px;
	width:600px;
	background: url("../imgs/worm.png") no-repeat;
}

.wormpoint {
	margin-top:17px;
	float:left;
	height: 100px;
	width: 98px;
	background: url("../imgs/hphilantropists.png") no-repeat;
}

#hphilantropists {
	margin-top:17px;
	float:left;
	height: 100px;
	width: 98px;
	background: url("../imgs/hphilantropists.png") no-repeat;
}

#henthusiasts {
	margin-top:17px;
	float:left;
	height: 100px;
	width: 98px;
	background: url("../imgs/henthusiasts.png") no-repeat;
}

#hhackers {
	margin-top:17px;
	float:left;
	height: 100px;
	width: 98px;
	background: url("../imgs/hhackers.png") no-repeat;
}

#donate {
	position:absolute;
	cursor:pointer;
	height: 64px;
	left:690px;
	top:-10px;
	width: 65px;
	background: url("../imgs/donate.png") no-repeat;
	
}

#donate:HOVER {
	background: url("../imgs/donateHover.png") no-repeat;
}


#wormbrowser-btn {
	background: url("../imgs/wormbrowserbtn.png") no-repeat;
}
	
#wormbrowser-btn:HOVER {
	background: url("../imgs/wormbrowserbtnHover.png") no-repeat;
}

#appHeaderTabs {
	position:absolute;
	left:117px;
	top:62px;
	height:30px;
	width:654px;
	
}

#appHeader {
	position:relative;
	width:771px;
	height:100px;
	margin:0 auto;
	margin-top:30px;
	text-align:center;
}

#appHeader .ninjaTab {
	height:30px;
	line-height:2em;
	min-width:68px;
}

#aboutTitle{
font-size:100px;
}

#contentTitle {
	color:#fff;
	display:block;
	font-size:2em;
	text-shadow:0 .125em .25em #000;
	vertical-align:middle;
}

.splashPanel h1 {
	margin:0;
	text-align:center;
}

.splashPanel {
	
		margin: 0 auto;
	margin-top:5px;
	background: url("../imgs/aboutBanner.png");
	width:764px;
	height:170px;
}

.contentPanel h1, h2, h3 {
	margin:0 auto;
	text-align:center;
}



#wrapper{
	margin: 0 auto;
	width:761px;
	margin-top:10px;
}

.contentPanel {
	
	position:relative;
	float:left;
	margin:0 auto;
	width:725px;
	min-height: 600px;
	height:auto !important; 
    height: 600px;
	padding-left:1em;
	padding-right:1em;
	font-size:18px;
}

#showcaseLinks
{
	float:left;
	
	width:150px;
	height: 550px;
}

#showcaseList
{
	list-style: none;
	padding-right: 5px;
	padding-left: 5px;
}

#showcaseList li {
	font-weight:bold;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom:20px;
}

#showcaseList li:hover {
	color: #4d7804;
	cursor: pointer;
}

#showcaseList li.selected {
	color: #4d7804;
	cursor: pointer;
}

#showcaseContent
{
	padding-left:15px;
	
	float:left;
	width:500px;
	height: 500px;
	font-size:17px;
	text-align:justify;
}

#showcaseContent iframe {
	margin:10px auto 0 auto;
	text-align:center;
}

.sidePanelsContainer {
	display:none;	
	float:left; 
	margin:0 auto;
	margin-left: 18px;
}

.sidePanel {
	
	width: 149px;
	height: 570px;
	padding: 1em 0.5em 1em 0.5em;
	overflow: hidden; 
}

.donatePanel {
	margin: 0px auto 2.5px auto;
	width:149px;
	height: 37.5px;
	text-align: center;	
}

.roundedPanel {
	border-top-left-radius: 0.5em 0.5em; 
	border-top-right-radius: 0.5em 0.5em; 
	border-bottom-right-radius: 0.5em 0.5em; 
	border-bottom-left-radius: 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em; 
}

.content{
	padding-top:1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#footerPanel {
	margin:0;
	text-align:center;
}

.verticalSpacer {
	height: 10px;	
}

.clearer {
	clear: both;
}
.portraitsrow
{
	height:150px;
	margin-bottom:20px;
	margin-top:20px;
}

.peopletitlte
{
	font-size:28px;
	font-weight:600;
}

.contactstitle
{
	margin-top:35px;
	font-size:28px;
	font-weight:600;
}

.cropPanel {
	width: 80px;
	height: 80px;
	overflow: hidden;
	display: inline-block;
}

.role
{
	color:black;
}

.country
{
	color:#3c5a00;
}

.person
{
	font-size: 15px;
	width: 80px;
	text-align: center;
	
	float:left;
	margin-right:31px;
	margin-bottom:10px;
}

.person a{text-decoration: none;}

.profilePic {
	width: 80px;	
}

/* suppress some stuff in the twitter stream js API */
span.jta-tweet-retweeter {
	display: none;
}

iframe.twitter-follow-button{
	margin-left:10px;
}



/* technology images */
.tech-image {
	float: left;
	width: 80px;
	margin-right: 25px;
}

.tech-desc{
	float: left;
	width: 540px;
}